<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youga</title>
</head>
<body>
    <div class="camera">
        <!-- <img src="{{ url_for('video') }}" width="50%"> -->
        <img src="https://imgs.search.brave.com/IkdhK86dcXQ71wp1wBAx8NekNBP-jgZU2ZOb1Ol7Vys/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/Nzc2ODYzMjM1Njkt/NDBiOTA0MjQwOTli/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4TVRsOGZH/aDFiV0Z1SlRJd2Mz/UmhibVJwYm1kOFpX/NThNSHg4TUh4OGZE/QT0" width="50%">

    </div>

</body>
</html>
